$backgroundColor: #000;
$foregroundColor: #FFF;
$primaryColor: #ec368d;
$secondaryColor: #51e5ff;
$tertiaryColor: #3CB371;

$maxWidth: 1180px;
$standardPadding: 1rem;

$standardFont: segoe,Helvetica,Georgia;
$headingFont: 'Lucida Bright';

$headerHeight: 140px;