.menu {

    &__header {
        border-bottom: 1px solid #2b2b2b;
        padding-bottom: 2rem;

        p {
            line-height: 1.6;
        }
    }

    &__search {
        margin-top: 1rem;
        padding-top: 2rem;

        .layout {
            margin-top: 2rem;
            padding: 0;
        }
    }

    &__empty {
        align-items: center;
        border-bottom: 1px solid #2b2b2b;
        display: flex;
        min-height: 100px;

        h2 {
            margin: 0;
        }
    }

    &__button {
        font-size: 1rem;
        margin: 1rem 0;
        padding: .5rem .8rem;
    }

    &__action {
        display: flex;
        flex-wrap: wrap;
        font-size: 1.4rem;        
        justify-content: center;

        p {
            flex-basis: 100%;
            text-align: center;
        }
    }

}